{{include './header.html'}}
    <div class="container">
        <main>
            <div class="main-sub">
                <a href="/">网站首页 ></a>
                <span>关于</span>
            </div>
            <div class="aboutinfo">
                <div class="aboutinfo-figure">
                    <img src="/img/touxiang.png">
                </div>
                <p class="aboutinfo-nickname">王腊梅Blog</p>
                <p class="aboutinfo-introduce">一枚90后程序员，专注于web前端开发</p>
                <p class="aboutinfo-location"><i class="iconfont">&#xe86a;</i>&nbsp;江苏 - 宿迁</p>
                <hr>
                <div class="aboutinfo-contact">
                    <a target="_blank" title="QQ交流" href="http://wpa.qq.com/msgrd?v=3&amp;uin=1714023957&amp;site=qq&amp;menu=yes"><i class="iconfont">&#xf003c;</i></a>
                    <a target="_blank" title="给我写信" href="javascript:layer.msg('启动邮我窗口')"><i class="iconfont">&#xe576;</i></a>
                    <a target="_blank" title="新浪微博" href="javascript:layer.msg('转到你的微博主页')"><i class="iconfont">&#xe62f;</i></a>
                    <a target="_blank" title="码云" href="https://github.com/764692390"><i class="iconfont">&#xeaf5;</i></a>
                </div>
                <div class="aboutinfo-field">
                    <p>简介</p>
                    <div class="aboutinfo-abstract">
                        <p style="text-align: center">wlmBlog，诞生于1996年12月01日，目前是一个码农，从事web前端开发 node全站开发。</p>
                        <h4>个人信息</h4>
                        <p>暂无</p>
                        <h4>个人介绍</h4>
                        <p>一个没有故事的女同学，没什么介绍......</p>
                        <h4>关于博客</h4>
                        <p>wlmBlog是一个由Node express开发的个人博客网站，诞生于2019年7月18日，起劲为止经历了一次大改，暂且称为wlmBlog1.0.0。</p>
                        <h4 style="text-align:center;">The End</h4>
                    </div>
                </div>
            </div>
        </main>
    </div>
{{include './footer.html'}}